@model CheckoutViewModel
@{
    ViewData["Title"] = "Checkout";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="panel">
        <div class="panel-heading ">
            <h1 class="panel-title">
                <span>Submit Your Order</span>
            </h1>
        </div>
        <form asp-controller="Checkout" asp-action="Checkout" method="POST" style="padding-bottom: 0px;">

            <div class="panel-body">
                <div class="form-group">
                    <label class="" asp-for="FirstName">First Name</label>
                    <input class="form-control" asp-for="FirstName" required />
                </div>
                <div class="form-group">
                    <label class="" asp-for="LastName">Last Name</label>
                    <input class="form-control " asp-for="LastName" required />
                </div>
                <div class="form-group">
                    <label class="" asp-for="EmailAddress">Email Address</label>
                    <input class="form-control " asp-for="EmailAddress" required />
                </div>
                <div class="form-group">
                    <label class="" asp-for="AddressLine1">Address Line 1</label>
                    <input class="form-control " asp-for="AddressLine1" required />
                </div>
                <div class="form-group">
                    <label class="" asp-for="AddressLine2">Address Line 2</label>
                    <input class="form-control " asp-for="AddressLine2" />
                </div>
                <div class="form-group">
                    <label class="" asp-for="City">City</label>
                    <input class="form-control " asp-for="City" required />
                </div>
                <div class="form-group">
                    <label class="" asp-for="Country">Country</label>
                    <input class="form-control " asp-for="Country" required />
                </div>
                <div class="form-group">
                    <label class="" asp-for="Province">Province</label>
                    <input class="form-control " asp-for="Province" required />
                </div>
                <div class="form-group">
                    <label class="" asp-for="PostalCode">Postal Code</label>
                    <input class="form-control " asp-for="PostalCode" required />
                </div>
            </div>
            <div class="panel-footer">
                <div class="checkout__flex-container">
                    <a class="btn btn-light" asp-controller="Cart" asp-action="CartDetail">Cancel </a>
                    <button class="btn btn-primary" type="submit">Submit Order</button>
                </div>
            </div>
        </form>
    </div>
</div>

