@{
    ViewData["Title"] = "Privacy Policy";
}
<h2 class="mb-4">@ViewData["Title"]</h2>

<div class="row">
    <div class="ml-5 col-md-8">
        <p class="text-light">
            We are committed to the protection of personal data we process – below you’ll find the Privacy Policy,
            which guides how we collect, use, transfer and store the information that you provide us with or that we
            collect about you when interacting with Fashionplex. The following information is provided by Fashionplex
            to show how we comply with applicable rules and regulations and to help keep you fully informed
            about your rights (and how to enforce them).
            By visiting our website, you accept and consent to the practices described in this Privacy Policy.
        </p>

        <h3 class="mt-4">Retention of your personal data</h3>
        <p class="text-light">
            We will keep your personal data only for as long as necessary for the purposes for which it was obtained. Personal
            data will be retained for the purposes of communication with you in relation to our Good Fashion Action Plan. In order
            to comply with the records retention requirements applicable to us all your personal data will be kept for a period of no longer than 3 years.
        </p>

        <h3 class="mt-4">Complaint or question about your data?</h3>
        <p class="text-light">
            If you have any complaints about how we handle your personal data, please contact us by sending an email to
            info@fashionplex.ca or calling +0001-222-400-5555. We would be happy to help you find a solution.
        </p>
    </div>
</div>
