
@{
    ViewData["Title"] = "Promotion";
}


<div class="coupon">
    <div class="container1">
        <h3 style="background-color:orchid">Fashionplex Offer</h3>
    </div>
    <img src="~/images/banner-logo/banner2.jpg" alt="Avatar" style="width:100%;">
    <div class="container1" style="background-color:dodgerblue">
        <h2><b>HURRAH! ENTER STORE 30% OFF!</b></h2>
        <p>Shop Black Friday 2020 deals & sales on Fashionplex! Find great prices on pants, shirts & more during Black Friday Canada starting on Nov 22, 2020.</p>
    </div>
    <div class="container1">
        <p style="background-color:dodgerblue">Use Promo Code: <span class="promo">BOH23212</span></p>
        <p class="expire">Expires: Dec 03, 2020</p>
    </div>
</div>
<style>
    .coupon {
        border: 5px dotted #bbb;
        width: 50%;
        border-radius: 15px;
        margin: 0 auto;
        max-width: 600px;
    }

    .container1 {
        padding: 2px 16px;
        background-color: #f1f1f1;
    }

    .promo {
        background: blue;
        padding: 3px;
    }

    .expire {
        color: red;
    }
</style>

