@model IEnumerable<Fashionplex.Models.Contact>

@{
    ViewData["Title"] = "Confirmation";
}

<h2 class="mb-5 border-bottom">Confirmation</h2>

<div class="row">
    <div class="col-md-8 ml-5">
        @if (Model.Any())
        {
        <p class="mb-3 text-light">Dear @Model.Last().FirstName @Model.Last().LastName,</p>
        }

        <p class="text-light">
            Thank you for contacting us, and here’s a confirmation that we have received
            your message. One of our team members will review this information and will contact you shortly.
        </p>
        <br>
        <p class="text-light">
            Kind Regards,
        </p>
        <p class="text-light">
            Fashionplex Inc. <br> Canada.
        </p>

    </div>
    </div>
